{
    "trailingComma": "none",
    "tabWidth": 4,
    "printWidth": 120,
    "useTabs": false,
    "semi": false,
    "jsxSingleQuote": false,
    "bracketSpacing": true,
    "proseWrap": "always",
    "quoteProps": "as-needed",
    "requirePragma": false,
    "plugins": [
        "prettier-plugin-tailwindcss"
    ],
    "tailwindFunctions": [
        "tw"
    ]
}